target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.idea/
.project
.classpath
.settings/
bin/
build/
out/

dependency-reduced-pom.xml
*.iml
*.ipr
*.iws
*.swp
*.log
.DS_Store
*.class

application-local.yml
